/*
## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800
*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  font-family: 'Hanken Grotesk', sans-serif;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*740 x 515*/

.container {
  width: 740px;
  height: 450px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
}

.container-left {
  border-radius: 25px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  width: 42%;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.container-left .container-left-title {
  margin-bottom: 20px;
  color: #ffffffc0;
}

.result {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result h1 {
  font-size: 60px;
}

.result p {
  color: #ffffffc0;
}

.message {
  text-align: center;
  margin-top: 30px;
}

.message h2 {
  margin-bottom: 30px;
}

.message p {
  color: #ffffffc0;
}

/*
SECTIONS - RIGHT
*/
.container-right {
  padding: 30px 40px;
  width: 58%;
}

.container-right h2 {
  color: hsl(224, 30%, 27%);
  margin-bottom: 20px;
}

.sections {
  display: block;
}

.sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sec-left {
  display: flex;
}

.reaction {
  background: hsla(0, 100%, 67%, 0.14);
}
.memory {
  background: hsl(39, 100%, 56%, 0.14);
}
.verbal {
  background: hsl(166, 100%, 37%, 0.14);
}
.visual {
  background: hsl(234, 85%, 45%, 0.14);
}

.sec img {
  margin-right: 5px;
}

.reaction p {
  color: hsl(0, 100%, 67%);
}

.memory p {
  color: hsl(39, 100%, 56%);
}

.verbal p {
  color: hsl(166, 100%, 37%);
}

.visual p {
  color: hsl(234, 85%, 45%);
}

.num {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}

.nums {
  color: #888;
}

button {
  width: 80%;
  background: hsl(224, 30%, 27%);
  padding: 15px 30px;
  color: #fff;
  border-radius: 30px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.call-to-action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
